@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  color: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  color: #eee;
  background-color: #151515;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px dotted #383838;
}

img {
  max-width: 100%;
}

.container, .container-fluid {
  padding: 1.3rem;
  margin: auto;
}

.container {
  max-width: 960px;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0px) {
  .col-xs-1 {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-sm-1 {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .colmd-1 {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .colmd-2 {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .colmd-3 {
    flex-grow: 0;
    width: 25%;
  }

  .colmd-4 {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .colmd-5 {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .colmd-6 {
    flex-grow: 0;
    width: 50%;
  }

  .colmd-7 {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .colmd-8 {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .colmd-9 {
    flex-grow: 0;
    width: 75%;
  }

  .colmd-10 {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .colmd-11 {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .colmd-12 {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-lg-1 {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .colxl-1 {
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .colxl-2 {
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .colxl-3 {
    flex-grow: 0;
    width: 25%;
  }

  .colxl-4 {
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .colxl-5 {
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .colxl-6 {
    flex-grow: 0;
    width: 50%;
  }

  .colxl-7 {
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .colxl-8 {
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .colxl-9 {
    flex-grow: 0;
    width: 75%;
  }

  .colxl-10 {
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .colxl-11 {
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .colxl-12 {
    flex-grow: 0;
    width: 100%;
  }
}
.btn, .btn-white, .btn-black, .btn-darker-2, .btn-darker, .btn-ligher-2, .btn-lighter, .btn-dark, .btn-light, .btn-pink, .btn-purple, .btn-orange, .btn-blue, .btn-green, .btn-red, .btn-secondary, .btn-primary, .btn-background, button:disabled, .btn-disabled, .btn-outline, .btn-white-outline, .btn-black-outline, .btn-darker-2-outline, .btn-darker-outline, .btn-ligher-2-outline, .btn-lighter-outline, .btn-dark-outline, .btn-light-outline, .btn-pink-outline, .btn-purple-outline, .btn-orange-outline, .btn-blue-outline, .btn-green-outline, .btn-red-outline, .btn-secondary-outline, .btn-primary-outline, .btn-background-outline, button {
  padding: 0.6rem;
  margin: 0.6rem;
  background-color: #733ef0;
  border-width: 3px;
  border-style: solid;
  border-color: #733ef0;
  font-weight: bold;
  border-radius: 0.6rem;
  line-height: 1rem;
  display: inline-block;
  box-shadow: 0 4px 15px 3px #00000044;
}

.btn-outline, .btn-white-outline, .btn-black-outline, .btn-darker-2-outline, .btn-darker-outline, .btn-ligher-2-outline, .btn-lighter-outline, .btn-dark-outline, .btn-light-outline, .btn-pink-outline, .btn-purple-outline, .btn-orange-outline, .btn-blue-outline, .btn-green-outline, .btn-red-outline, .btn-secondary-outline, .btn-primary-outline, .btn-background-outline {
  background-color: #00000020;
  border-color: #733ef0;
}

.btn-sm {
  font-size: 0.8rem;
  box-shadow: 0 4px 10px 1px #00000044;
  padding: 0.1em 0.3rem;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 1rem 1.6rem;
}

button:disabled, .btn-disabled {
  background-color: #000000aa;
  cursor: not-allowed;
  border: none;
  color: #FFFFFFaa;
  text-decoration: line-through;
}

.card {
  display: block;
  padding: 1.3rem;
  box-shadow: 0 4px 12px 2px #00000044;
  background-color: #FFFFFF20;
  border-radius: 0.6rem;
  margin: 0.6rem auto;
}
.card .title {
  font-weight: bold;
  margin-bottom: 1.3rem;
}
.card .content {
  text-align: justify;
  text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.6rem;
}

.notify {
  padding: 1.3rem;
  border: 3px solid #956df4;
  background-color: #5212e9;
  position: relative;
  border-radius: 0.6rem;
  margin: 0.6rem auto;
}
.notify .close {
  position: absolute;
  right: 0.6rem;
  top: 0rem;
  padding: 0.6rem;
  cursor: pointer;
}
.notify .content {
  margin: 0.6rem 0rem;
  color: #ebe4fd;
}
.notify .title {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
  color: white;
}

.text-background {
  color: #151515;
}

.bg-background {
  background-color: black;
  border-color: black;
}

.border-background {
  border: 3px solid #080808;
}

.btn-background {
  background-color: #151515;
  border-color: #151515;
}
.btn-background-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #080808;
}

.text-primary {
  color: #733ef0;
}

.bg-primary {
  background-color: #4a10d1;
  border-color: #5212e9;
}

.border-primary {
  border: 3px solid #6226ee;
}

.btn-primary {
  background-color: #733ef0;
  border-color: #733ef0;
}
.btn-primary-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #6226ee;
}

.text-secondary {
  color: #383838;
}

.bg-secondary {
  background-color: #121212;
  border-color: #1f1f1f;
}

.border-secondary {
  border: 3px solid #2b2b2b;
}

.btn-secondary {
  background-color: #383838;
  border-color: #383838;
}
.btn-secondary-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #2b2b2b;
}

.text-red {
  color: #e92f2f;
}

.bg-red {
  background-color: #b81313;
  border-color: #cf1616;
}

.border-red {
  border: 3px solid #e61818;
}

.btn-red {
  background-color: #e92f2f;
  border-color: #e92f2f;
}
.btn-red-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #e61818;
}

.text-green {
  color: #2aa51a;
}

.bg-green {
  background-color: #196310;
  border-color: #1f7913;
}

.border-green {
  border: 3px solid #248f17;
}

.btn-green {
  background-color: #2aa51a;
  border-color: #2aa51a;
}
.btn-green-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #248f17;
}

.text-blue {
  color: #2476b9;
}

.bg-blue {
  background-color: #184d79;
  border-color: #1c5b8e;
}

.border-blue {
  border: 3px solid #2068a4;
}

.btn-blue {
  background-color: #2476b9;
  border-color: #2476b9;
}
.btn-blue-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #2068a4;
}

.text-orange {
  color: #db711a;
}

.bg-orange {
  background-color: #974e12;
  border-color: #ad5915;
}

.border-orange {
  border: 3px solid #c46517;
}

.btn-orange {
  background-color: #db711a;
  border-color: #db711a;
}
.btn-orange-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #c46517;
}

.text-purple {
  color: #b317e2;
}

.bg-purple {
  background-color: #7c109d;
  border-color: #8e12b4;
}

.border-purple {
  border: 3px solid #a115cb;
}

.btn-purple {
  background-color: #b317e2;
  border-color: #b317e2;
}
.btn-purple-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #a115cb;
}

.text-pink {
  color: #af1480;
}

.bg-pink {
  background-color: #6a0c4e;
  border-color: #810f5f;
}

.border-pink {
  border: 3px solid #98116f;
}

.btn-pink {
  background-color: #af1480;
  border-color: #af1480;
}
.btn-pink-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #98116f;
}

.text-light {
  color: #eee;
}

.bg-light {
  background-color: #c8c8c8;
  border-color: #d5d5d5;
}

.border-light {
  border: 3px solid #e1e1e1;
}

.btn-light {
  background-color: #eee;
  border-color: #eee;
  color: #000;
}
.btn-light-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #e1e1e1;
}

.text-dark {
  color: #050505;
}

.bg-dark {
  background-color: black;
  border-color: black;
}

.border-dark {
  border: 3px solid black;
}

.btn-dark {
  background-color: #050505;
  border-color: #050505;
}
.btn-dark-outline {
  background-color: #00000020;
  color: #eee;
  border-color: black;
}

.text-lighter {
  color: #FFFFFF20;
}

.bg-lighter {
  background-color: rgba(217, 217, 217, 0.1254901961);
  border-color: rgba(230, 230, 230, 0.1254901961);
}

.border-lighter {
  border: 3px solid rgba(242, 242, 242, 0.1254901961);
}

.btn-lighter {
  background-color: #FFFFFF20;
  border-color: #FFFFFF20;
}
.btn-lighter-outline {
  background-color: #00000020;
  color: #eee;
  border-color: rgba(242, 242, 242, 0.1254901961);
}

.text-ligher-2 {
  color: #FFFFFFaa;
}

.bg-ligher-2 {
  background-color: rgba(217, 217, 217, 0.6666666667);
  border-color: rgba(230, 230, 230, 0.6666666667);
}

.border-ligher-2 {
  border: 3px solid rgba(242, 242, 242, 0.6666666667);
}

.btn-ligher-2 {
  background-color: #FFFFFFaa;
  border-color: #FFFFFFaa;
}
.btn-ligher-2-outline {
  background-color: #00000020;
  color: #eee;
  border-color: rgba(242, 242, 242, 0.6666666667);
}

.text-darker {
  color: #00000020;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.1254901961);
  border-color: rgba(0, 0, 0, 0.1254901961);
}

.border-darker {
  border: 3px solid rgba(0, 0, 0, 0.1254901961);
}

.btn-darker {
  background-color: #00000020;
  border-color: #00000020;
}
.btn-darker-outline {
  background-color: #00000020;
  color: #eee;
  border-color: rgba(0, 0, 0, 0.1254901961);
}

.text-darker-2 {
  color: #000000aa;
}

.bg-darker-2 {
  background-color: rgba(0, 0, 0, 0.6666666667);
  border-color: rgba(0, 0, 0, 0.6666666667);
}

.border-darker-2 {
  border: 3px solid rgba(0, 0, 0, 0.6666666667);
}

.btn-darker-2 {
  background-color: #000000aa;
  border-color: #000000aa;
}
.btn-darker-2-outline {
  background-color: #00000020;
  color: #eee;
  border-color: rgba(0, 0, 0, 0.6666666667);
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: black;
  border-color: black;
}

.border-black {
  border: 3px solid black;
}

.btn-black {
  background-color: #000;
  border-color: #000;
}
.btn-black-outline {
  background-color: #00000020;
  color: #eee;
  border-color: black;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #d9d9d9;
  border-color: #e6e6e6;
}

.border-white {
  border: 3px solid #f2f2f2;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
}
.btn-white-outline {
  background-color: #00000020;
  color: #eee;
  border-color: #f2f2f2;
}

.p-0 {
  padding: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.m-0 {
  margin: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.p-1 {
  padding: 0.6rem;
}

.px-1 {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.py-1 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.pt-1 {
  padding-top: 0.6rem;
}

.pb-1 {
  padding-bottom: 0.6rem;
}

.pl-1 {
  padding-left: 0.6rem;
}

.pr-1 {
  padding-right: 0.6rem;
}

.m-1 {
  margin: 0.6rem;
}

.mx-1 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.my-1 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.mt-1 {
  margin-top: 0.6rem;
}

.mb-1 {
  margin-bottom: 0.6rem;
}

.ml-1 {
  margin-left: 0.6rem;
}

.mr-1 {
  margin-right: 0.6rem;
}

.p-2 {
  padding: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.m-2 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.p-3 {
  padding: 1.3rem;
}

.px-3 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.py-3 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.pt-3 {
  padding-top: 1.3rem;
}

.pb-3 {
  padding-bottom: 1.3rem;
}

.pl-3 {
  padding-left: 1.3rem;
}

.pr-3 {
  padding-right: 1.3rem;
}

.m-3 {
  margin: 1.3rem;
}

.mx-3 {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.my-3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.mt-3 {
  margin-top: 1.3rem;
}

.mb-3 {
  margin-bottom: 1.3rem;
}

.ml-3 {
  margin-left: 1.3rem;
}

.mr-3 {
  margin-right: 1.3rem;
}

.p-4 {
  padding: 1.6rem;
}

.px-4 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.py-4 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.pt-4 {
  padding-top: 1.6rem;
}

.pb-4 {
  padding-bottom: 1.6rem;
}

.pl-4 {
  padding-left: 1.6rem;
}

.pr-4 {
  padding-right: 1.6rem;
}

.m-4 {
  margin: 1.6rem;
}

.mx-4 {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.my-4 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.mt-4 {
  margin-top: 1.6rem;
}

.mb-4 {
  margin-bottom: 1.6rem;
}

.ml-4 {
  margin-left: 1.6rem;
}

.mr-4 {
  margin-right: 1.6rem;
}

.p-5 {
  padding: 2rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.pl-5 {
  padding-left: 2rem;
}

.pr-5 {
  padding-right: 2rem;
}

.m-5 {
  margin: 2rem;
}

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.ml-5 {
  margin-left: 2rem;
}

.mr-5 {
  margin-right: 2rem;
}

.m-auto {
  margin: auto;
}

.shadow-0 {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 4px 10px 1px #00000044;
}

.shadow-2 {
  box-shadow: 0 4px 12px 2px #00000044;
}

.shadow-3 {
  box-shadow: 0 4px 15px 3px #00000044;
}

.edgy {
  border-radius: 0;
}

.rounded {
  border-radius: 1.6rem;
}