@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    
    .bg-#{$key} {
        background-color: darken($val, 15%);
        border-color: darken($val, 10%);

        @if ($key == "light" or $key == "white") {
            color: $black;
        }
    }
    
    .border-#{$key} {
        border: $bordersize solid darken($val, 5%);
    }
    
    .btn-#{$key} {
        @extend .btn;
        background-color: $val;
        border-color: $val;
        @if ($key == "light" or $key == "white") {
            color: $black;
        }

        &:hover, &:active, &:focus {
            @include hover-button($val);
        }

        &-outline {
            @extend .btn-outline;
            background-color: rgba(0,0,0,0.1);
            color: mix($light, $val);
            border-color: darken($val, 5%);
            @if ($key == "light" or $key == "white") {
                background-color: $dark;
            }
            

            &:hover, &:active, &:focus {
                @include hover-button-outline($val);
                @if ($key == "light" or $key == "white") {
                    background-color: $light;
                    color: $dark;
                }
            }
        }
    }

    .switch-#{$key} {
        @extend .switch;

        & .slider {
            border-color: mix($light, $val);
        }

        & .slider:before {
            background-color: mix($light, $val);
        }
    
        input:checked + .slider {
            background-color: $val;
            border-color: lighten($val, 10%);
    
            &:before { background-color: $light; }
            @if ($key == "light" or $key == "white") {
                &:before { background-color: $dark; }
            }
            
        }
        input:focus + .slider { border-color: $gray-3; }
    }

    .radios-#{$key} {
        @extend .radios;

        & .radio {
            border-color: mix($light, $val);
        }

        input:checked + .radio {
            background-color: $val;
            border-color: lighten($val, 10%);
    
            &:before { background-color: $light; }
            @if ($key == "light" or $key == "white") {
                &:before { background-color: $dark; }
            }
            
        }
        input:focus + .radio { border-color: $gray-3; }
    }
}