@each $key, $val in $sizes {
    .p-#{$key}, .cp-#{$key} > * { padding: $val; }
    .px-#{$key}, .cpx-#{$key} > * { padding-left: $val; padding-right: $val; }
    .py-#{$key}, .cpy-#{$key} > * { padding-top: $val; padding-bottom: $val; }
    .pt-#{$key}, .cpt-#{$key} > * { padding-top: $val; }
    .pb-#{$key}, .cpb-#{$key} > * { padding-bottom: $val; }
    .pl-#{$key}, .cpl-#{$key} > * { padding-left: $val; }
    .pr-#{$key}, .cpr-#{$key} > * { padding-right: $val; }

    .m-#{$key}, .cm-#{$key} > * { margin: $val; }
    .mx-#{$key}, .cmx-#{$key} > * { margin-left: $val; margin-right: $val; }
    .my-#{$key}, .cmy-#{$key} > * { margin-top: $val; margin-bottom: $val; }
    .mt-#{$key}, .cmt-#{$key} > * { margin-top: $val; }
    .mb-#{$key}, .cmb-#{$key} > * { margin-bottom: $val; }
    .ml-#{$key}, .cml-#{$key} > * { margin-left: $val; }
    .mr-#{$key}, .cmr-#{$key} > * { margin-right: $val; }
}

.m-auto { margin: auto; }

.shadow-0, .c-shadow-0 > * { box-shadow: $shadow0;}
.shadow-1, .c-shadow-0 > * { box-shadow: $shadow1;}
.shadow-2, .c-shadow-0 > * { box-shadow: $shadow2;}
.shadow-3, .c-shadow-0 > * { box-shadow: $shadow3;}


// Corners
.edgy { border-radius: 0; }
.rounded { border-radius: $size4; }


// Hide and show
.hide { display: none; }
.show { display: block; }

// Displays
.d-none { display: none; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-inline { display: inline; }
.d-flex { display: flex; }
.d-flex-center { display: flex; justify-content: center; align-items: center; }


// Text align
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }


// height and widths
@each $key, $val in $percentages {
    .w-#{$key} { width: $val; }
    .h-#{$key} { height: $val; min-height: $val; max-height: $val; }
}

// Flex utils
.justify-left { justify-content: left; }
.justify-center { justify-content: center; }
.justify-right { justify-content: right; }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}