body.electron {
    overflow: hidden;
    height: 100vh!important;
    max-height: 100vh!important;
    min-height: 100vh!important;
    display: flex;
    flex-direction: column;


    & .electron-main {
        overflow-y: auto;
    }
}