.btn, button {
    padding: $size1 $size2;
    margin: $size1 0;
    background-color: $primary;
    border-width: $bordersize;
    border-style: solid;
    border-color: $primary;
    border-radius: $size1;
    font-weight: bold;
    line-height: 1rem;
    display: inline-block;
    box-shadow: $shadow1;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover, &:active, &:focus { @include hover-button($primary); }
}

.btn-outline {
    @extend .btn;
    background-color: $glass;
    border-color: $primary;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.1em 0.3rem;
}

.btn-lg {
    font-size: 1.5rem;
    padding: $size2 $size4;
}

button:disabled, .btn-disabled {
    @extend .btn;
    background-color: $darker;
    cursor:not-allowed;
    border: none;
    color: $glass;
    text-decoration: line-through;
}