img {
    width: auto;
    height: 100%;
    display: block;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: scroll;
}