img {
    width: auto;
    height: 100%;
    display: block;
    box-shadow: $shadow2;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: scroll;

    box-shadow: $shadow3;
}