img {
    height: auto;
    width: 100%;
    max-width: 100%;
    display: block;
    box-shadow: $shadow2;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: scroll;

    box-shadow: $shadow3;
}

.bg-fixed {
    background-attachment: fixed;
}