.notify {
    padding: $size3 $size5;
    background-color: darken($primary, 10%);
    position: relative;
    border-radius: $size1;
    margin: $size1 auto;
    box-shadow: $shadow3;

    .close {
        @extend .bi;
        @extend .bi-x-lg;
        position: absolute;
        right: $size2;
        top: $size2;
        cursor: pointer;
        font-size: $size3;
    }
    
    .content {
        margin: $size1 $size0;
        color: lighten($primary, 35%);
    }

    .title {
        font-size: 1.5rem;
        margin-bottom: $size1;
        font-weight: bold;
        color: lighten($primary, 45%);
    }
}