.btn, button {
    padding: $size1 $size3;
    margin: $size1;
    background-color: $primary;
    border-radius: $size4;
    border-width: $bordersize;
    border-style: solid;
    border-color: $primary;
    font-weight: bold;
    line-height: 1rem;
    display: inline-block;
    box-shadow: $shadow3;
}

.btn-outline {
    @extend .btn;
    background-color: $darker;
    border-color: $primary;
}

.btn-secondary {
    @extend .btn;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline {
    @extend .btn-outline;
    background-color: $darker;
    border-color: $secondary;
}

.btn-light {
    @extend .btn;
    background-color: $light;
    border-color: darken($light, 10%);
    color: #000000;
}

.btn-light-outline {
    @extend .btn-outline;
    border-color: $light;
    color: lighten($light, 20%);
}

.btn-sm {
    font-size: 0.7rem;
    box-shadow: $shadow1;
    padding: $size0 $size2;
}

.btn-lg {
    font-size: 1.2rem;
    padding: $size2 $size4;
}

button:disabled, .btn-disabled {
    @extend .btn;
    background-color: $darker2;
    cursor:not-allowed;
    border: none;
    color: $lighter2;
    text-decoration: line-through;
}