.btn, button {
    padding: $size1;
    margin: $size1;
    background-color: $primary;
    border-width: $bordersize;
    border-style: solid;
    border-color: $primary;
    font-weight: bold;
    border-radius: $size1;
    line-height: 1rem;
    display: inline-block;
    box-shadow: $shadow3;
}

.btn-outline {
    @extend .btn;
    background-color: $darker;
    border-color: $primary;
}

.btn-sm {
    font-size: 0.8rem;
    box-shadow: $shadow1;
    padding: 0.1em 0.3rem;
}

.btn-lg {
    font-size: 1.5rem;
    padding: $size2 $size4;
}

button:disabled, .btn-disabled {
    @extend .btn;
    background-color: $darker2;
    cursor:not-allowed;
    border: none;
    color: $lighter2;
    text-decoration: line-through;
}