.card {
    display: block;
    padding: $size3;
    box-shadow: $shadow2;
    background-color: $lighter;
    border-radius: $size1;
    margin: $size1 auto;

    .title {
        font-weight: bold;
        margin-bottom: $size3;
        
    }

    .content {
        text-align: justify;
        text-justify: inter-word;
    }
}

