@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    
    .bg-#{$key} {
        background-color: darken($val, 10%);
        border-color: darken($val, 5%);
    }
    
    .border-#{$key} {
        border: $bordersize solid darken($val, 5%);
    }
    
    .btn-#{$key} {
        @extend .btn;
        background-color: $val;
        border-color: $val;
        @if "light" == $key {
            color: $black;        
        }

        &-outline {
            @extend .btn;
            background-color: $darker;
            color: $light;            
        }
    }
}