.container, .container-fluid {
    padding: $size3;
    margin: auto;
}
.container {
    max-width: 960px;

    @include sm { max-width: map-get($breakpoints, 'sm'); }
    @include md { max-width: map-get($breakpoints, 'md'); }
    @include lg { max-width: map-get($breakpoints, 'lg'); }
    @include xl { max-width: map-get($breakpoints, 'xl'); }
}