// COLORS
$background: #151515;
$primary: rgb(115, 62, 240);
$secondary: #383838;
$red: #e92f2f;
$green: #2aa51a;
$blue: #2476b9;
$orange: #db711a;
$purple: #b317e2;
$pink: #af1480;
$light: #eee;
$dark: #050505;
$lighter: #FFFFFF20;
$lighter-2: #FFFFFFaa;
$darker: #00000020;
$darker-2: #000000aa;
$white: #fff;
$black: #000;

// Color map
$colors: (
    "background": $background,    
    "primary": $primary,
    "secondary": $secondary,
    "red": $red,
    "green": $green,
    "blue": $blue,
    "orange": $orange,
    "purple": $purple,
    "pink": $pink,
    "light": $light,
    "dark": $dark,
    "lighter": $lighter,
    "ligher-2": $lighter-2,
    "darker": $darker,
    "darker-2": $darker-2,
    "black": $black,
    "white": $white
);


// SIZES
$size0: 0rem;
$sizebase: 1.3rem;
$size1: $sizebase - 0.7rem;
$size2: $sizebase - 0.3rem;
$size3: $sizebase;
$size4: $sizebase + 0.3rem;
$size5: $sizebase + 0.7rem;

$sizes: (
    "0": $size0,
    "1": $size1,
    "2": $size2,
    "3": $size3,
    "4": $size4,
    "5": $size5,
);

// Shadows
$shadow0: none;
$shadow1: 0 4px 10px 1px #00000044;
$shadow2: 0 4px 12px 2px #00000044;
$shadow3: 0 4px 15px 3px #00000044;


// box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;


// Borders
$bordersize: 3px;