// COLORS
$background: #151515;
$primary: #5325be;
$secondary: #383838;
$red: #a01c1c;
$green: #188809;
$blue: #094f88;
$orange: #af5a14;
$purple: #8b14af;
$pink: #af1480;
$light: #eee;
$dark: #111;
$lighter: #FFFFFF0c;
$lighter2: #FFFFFF55;
$darker: #0000000c;
$darker2: #00000055;
$white: #fff;
$black: #000;

// Color map
$colors: (
    "background": $background,    
    "primary": $primary,
    "secondary": $secondary,
    "red": $red,
    "green": $green,
    "blue": $blue,
    "orange": $orange,
    "purple": $purple,
    "pink": $pink,
    "light": $light,
    "dark": $dark,
    "lighter": $lighter,
    "ligher2": $lighter2,
    "darker": $darker,
    "darker2": $darker2,
    "black": $black,
    "white": $white
);


// SIZES
$size0: 0rem;
$sizebase: 1.3rem;
$size1: $sizebase - 0.7rem;
$size2: $sizebase - 0.3rem;
$size3: $sizebase;
$size4: $sizebase + 0.3rem;
$size5: $sizebase + 0.7rem;

$sizes: (
    "0": $size0,
    "1": $size1,
    "2": $size2,
    "3": $size3,
    "4": $size4,
    "5": $size5,
);

// Shadows
$shadow0: none;
$shadow1: 0 4px 10px 1px #00000044;
$shadow2: 0 4px 12px 2px #00000044;
$shadow3: 0 4px 15px 3px #00000044;


// box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;


// Borders
$bordersize: 3px;